@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #7f4b1f;
    --color-secondary: #fefbe8;
    --color-white: #f2f4f7;

    --banner-height: 40px;
    --navbar-height: 105.6px;

    --yellow-custom: #fefbe8;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small,
  strong,
  body,
  ul,
  li,
  ol,
  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  #app {
    height: 1px;
    /* min-height: 100dvh; */
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
}

@layer components {
  .layout-base {
    display: flex;
    flex-direction: column;
    height: 100%;

    .layout-content-grow {
      flex-grow: 1;
    }
  }

  .section-base {
    min-height: 100vh;
  }
}

@layer utilities {
  .grid-item-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid-custom {
    @apply flex flex-wrap;
  }
  .grid-col-custom {
    @apply grow-0 shrink-0 basis-auto;
  }

  /* animate on scrolls */
  .onScroll-fadeIn {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .onScroll-fadeOut {
    transition: opacity 3s ease;
    opacity: 0;
  }
  .onScroll-fadeInDown {
    animation: fadeInDown 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
      }
      100% {
        opacity: 1;
        transform: translate3d(0);
      }
    }
  }
  .onScroll-fadeInLeft {
    animation: fadeInLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @keyframes fadeInLeft {
      0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
      }
      100% {
        opacity: 1;
        transform: translate3d(0);
      }
    }
  }
  .onScroll-fadeOutLeft {
  }
  .onScroll-fadeInRight {
    animation: fadeInRight 0.5s linear;
    @keyframes fadeInRight {
      0% {
        opacity: 0;
        transform: translateX(20px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
